<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".CamScannerApp"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CamScannerPro">

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false"
            android:theme="@style/Theme.CamScannerPro.FullScreen" />

        <activity
            android:name=".ui.crop.CropActivity"
            android:exported="false"
            android:theme="@style/Theme.CamScannerPro.FullScreen" />

        <activity
            android:name=".ui.filter.FilterActivity"
            android:exported="false"
            android:theme="@style/Theme.CamScannerPro.FullScreen" />

        <activity
            android:name=".ui.detail.DocumentDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.viewer.PagePreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.CamScannerPro.FullScreen" />

        <activity
            android:name=".ui.backup.BackupActivity"
            android:exported="false" />

        <activity
            android:name=".ui.tools.MergeCompressActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
